#navbar {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    background-color: var(--main-color);
}

#navbar a {
    text-decoration: none;
    color: black;
    padding: 1em;
}