.center, .center-window {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.flex {
    display: flex;
    flex-flow: row nowrap;
}

.error {
    color: red;
}

button, input[type='submit'] {
    border-radius: 5px;
    background-color: var(--second-color);
    color: var(--bright-main);
    border: 0;
    padding: 0.7em;
}

button:hover, input[type='submit']:hover {
    cursor: pointer;
    background-color: var(--light-second);
    transition: background-color 0.5s;
}

.center-window {
    align-items: center;
}

.full-h {
    height: 100vh;
}

.block {
    background-color: var(--bright-main);
    border-radius: 5px;
    box-shadow: 0 0 5px black;
    padding: 0.5em;
}
